@tailwind base;
@tailwind components;
@tailwind utilities;



/* Menu Active */
.active-link{
  color: #EB5A3C;
  text-decoration: overline;
}
.inactive-link{
  color: #809D3C;

}

.lucide {
  width: 100px;
  height: 100px;
  stroke-width: 2px;
}

.input-field {
  @apply border text-blue-400 text-lg font-semibold border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.swiper {
  width: 100%;
  /* height: 500px; */
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  object-fit: fill;
}

.swiper-slide img {
  display: block;
  width: 100%;
}











/* ... */

@layer base {
  :root {
    --background: #E7D283; /* Light mode background */
    --foreground: #EB5A3C;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 20%;

    --primary: #EB5A3C;
    --primary-foreground: 0 0% 100%;

    --muted: #809D3C;
    --muted-foreground: 240 10% 40%;

    --accent: 220 80% 80%;
    --accent-foreground: 220 80% 20%;

    --destructive: #E16A54;
    --destructive-foreground: 0 0% 98%;

    --radius: 0.5rem;
  }

  .dark {
    --background: #000000ec; /* Dark mode background */
    /* --foreground: 240 10% 90%; */

    --card: 240 10% 15%;
    --card-foreground: 240 10% 90%;

    --primary: #EB5A3C;
    --primary-foreground: 0 0% 100%;

    --muted: #809D3C;
    --muted-foreground: 240 10% 60%;

    --accent: 220 80% 40%;
    --accent-foreground: 220 80% 90%;

    --destructive: #E16A54;
    --destructive-foreground: 0 0% 98%;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}
